$color1: rgba(238, 238, 255, 1);
$color2: rgba(127, 124, 175, 1);
$color3: rgba(159, 180, 199, 1);
$color4: rgba(40, 88, 123, 1);
$color5: rgba(15, 172, 243, 1);

$sidebar-width: 300px;
$sidebar-bg: $color2;
